<section aria-labelledby="pricing-section" id="pricing">
  <div class="lg:px-16 max-w-7xl md:px-12 mx-auto px-8 py-24 scroll-mt-12">
    <div class="text-center max-w-3xl mx-auto">
      <h2
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
      >
        Tenha sempre clareza sobre o que vai pagar. Preços transparentes para todos.
      </h2>
    </div>

    <div
      class="grid max-w-2xl grid-cols-1 py-3 mt-24 -mx-3 xl:-mx-12 sm:grid-cols-1 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-3 xl:gap-x-2 "
    >
      <!--<section class="flex flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
        <h3 class="mt-5 text-lg text-black font-display">Greedy</h3>
        <p class="mt-2 text-sm text-gray-500">
          Amazing for those attached to money with glue
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-black font-display"
        >
          $0
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
        >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Connect 1 websites</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
              1 bank accounts</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Track up to 1 credit cards</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Analytics support</span
            >
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
          aria-label="Wannabe tier"
          href="/register">Começar</a
        >
      </section>-->
      <section class="flex flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
        <h3 class="mt-5 text-lg text-black font-display">Launch</h3>
        <p class="mt-2 text-sm text-gray-500">
          Para pequenos projetos.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-black font-display"
        >
          R$ 399,00
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
        >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Sites: 01</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Artigos: R$5,00 por artigo</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Integração com WordPress: Apenas rascunho</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Criação de Conteúdo via URL: Até 10 vezes por mês</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Criação de Páginas: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Suporte a Múltiplos Idiomas: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Suporte: E-mail</span
            >
          </li>

        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
          aria-label="Wannabe tier"
          href="/register">Começar</a
        >
      </section>
      <section
        class="flex flex-col order-first px-6 py-8 rounded-3xl sm:px-8 bg-black  lg:order-none"
      >
        <h3 class="mt-5 text-lg text-white font-display">Growth</h3>
        <p class="mt-2 text-sm text-accent-100">
          Ideal para quem busca expandir a produção de conteúdo com mais flexibilidade.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-white font-display"
        >
          R$ 699,90
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-white gap-y-3"
        >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Sites: Até 5</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Artigos: R$3,00 por artigo</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Integração com WordPress: Publicado ou rascunho</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Criação de Conteúdo via URL: Até 30 vezes por mês</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Criação de Páginas: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Imagem Automática: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Suporte a Múltiplos Idiomas: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Análise de Concorrentes (Sitemap): Até 3 concorrentes</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Suporte: E-mail e Chat</span
            >
          </li>

        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border-2 border-white hover:bg-transparent hover:border-white rounded-xl hover:text-white focus:outline-none"
          aria-label="Indie hacker tier"
          href="/register">Começar</a
        >
      </section>
      <section class="flex flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
        <h3 class="mt-5 text-lg text-black font-display">Enterprise</h3>
        <p class="mt-2 text-sm text-gray-500">
          Para grandes empresas que precisam de ferramentas avançadas e automação.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-black font-display"
        >
          R$ 1.599,00
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
        >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Sites: Até 10</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Artigos: R$1,50 por artigo</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Integração com WordPress: Publicado ou rascunho</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Criação de Conteúdo via URL: Ilimitada</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Criação de Páginas: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Imagem Automática: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Suporte a Múltiplos Idiomas: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Análise de Concorrentes (Sitemap): Até 3 concorrentes</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Publicação Autônoma (Autopilot): Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Interligação Automática: Sim</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Suporte: E-mail, Chat e WhatsApp</span
            >
          </li>

        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
          aria-label="Big fish tier"
          href="/register">Começar</a
        >
      </section>
    </div>
    <!--<div class="mx-auto pt-12 lg:py-16">
      <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/Figma.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/Canva.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/Stripe.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/Gitlab.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/Linear.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/Gumroad.svg" />
        </div>
      </div>
    </div>-->
  </div>
</section>
