<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
           Segurança Robusta, Desempenho Impecável
          </p>
          <p class="text-base mt-4 text-gray-500">
            O WordSync garante que seu conteúdo seja criado e entregue com segurança de ponta. Construído em uma infraestrutura confiável, nossa plataforma protege seus dados em todas as camadas, permitindo que você escale sua estratégia de conteúdo com tranquilidade e confiança.
          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl"
            src="/wordsync-screen-security.webp"
          />
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon name="create-outline" class="s-ion-icon"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
             Feito para Criadores de Conteúdo
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Dê poder aos escritores com ferramentas intuitivas para criar conteúdos de alta qualidade otimizados para SEO, sem complicações. Menos tempo com formatação, mais tempo com a estratégia.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon name="trending-up-outline" class="s-ion-icon"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            A Escolha Certa para Profissionais de Marketing
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Otimize sua estratégia com recursos que aumentam o engajamento e o crescimento. De publicações automatizadas a melhorias de SEO, o WordSync expande seu alcance.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon name="hand-left-outline" class="s-ion-icon"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Onboarding Simples e Rápido
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Com uma configuração intuitiva, o WordSync coloca criadores e profissionais de marketing em ação rapidamente, sem curva de aprendizado.
        </p>
      </div>
    </div>
  </div>
</section>
