<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
           Robust Security, Seamless Performance
          </p>
          <p class="text-base mt-4 text-gray-500">
            WordSync ensures your content is created and delivered with top-tier security. Built on a reliable infrastructure, our platform protects your data at every layer, so you can focus on scaling your content strategy with confidence.
          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl"
            src="/wordsync-screen-security.webp"
          />
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon name="create-outline" class="s-ion-icon"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Built for Content Creators
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Empowering writers with intuitive tools to create high-quality, SEO-optimized content effortlessly. Spend less time on formatting and more on storytelling.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon name="trending-up-outline" class="s-ion-icon"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            A Marketer’s Go-To Tool
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Streamline your content strategy with features designed for engagement and growth. From automated publishing to SEO enhancements, WordSync is built to amplify your reach.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon name="hand-left-outline" class="s-ion-icon"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Seamless Onboarding
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Designed for ease, WordSync’s intuitive setup gets content creators and marketers up and running quickly—no steep learning curve.
        </p>
      </div>
    </div>
  </div>
</section>
